@font-face {
  font-family: "OldFace";
  src: url("../fonts/BASKVILL.ttf");

  font-family: "Segoe UI";
}

:root {
  --primary-color: #3b3b3b;
  --secondary-color: #dedede;
  --primary-text: "cambria";
  --secondary-text: "Segoe UI";
}

html {
  background-color: var(--secondary-color);
}

.error {
  display: block;
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
  border: solid red 1px;
  margin: 10px;
}

header,
footer {
  background-color: var(--primary-color);
  color: white;
  min-height: 60px;
  margin-left: -0.5em;
  margin-right: -0.5em;
}
footer {
  margin-bottom: -0.5em;
}
header {
  margin-top: -0.5em;
}

header > a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  position: relative;
  top: 15px;
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
}

body,
footer {
  font-family: var(--primary-text);
}

h1 {
  text-align: center;
  font-size: 3em;
}

h1,
header {
  font-family: var(--secondary-text);
}

.loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: flex;
  margin: 20px auto;
  font-size: 5em;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
